body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe242d;
    font-size: 2rem;
}

.nav-link{
    color: #222222  !important;
}

.f-info-links a{
    text-decoration: none;
}

.f-info-links a:hover{
    text-decoration:underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity: 0.5;
    background-color: white;
    font-weight: 400;
}

.btn-danger{
    margin-left: 3rem;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.show-img{
    height:30vh;
}

.btns{
    display:flex;
}

.show-card{
    padding:0;
    padding-right: 0;
}

.review-card{
    border: black;
}

#error{
    display: none;
}

#success{
    display: none;
}

#map { 
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
  }

  #places-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.place-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevents content overflow */
}

.place-card h5 {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap; /* Prevents text from breaking into multiple lines */
  overflow: hidden; /* Hides overflowing text */
  text-overflow: ellipsis; /* Adds "..." for long names */
  width: 100%;
  display: block;
  cursor: pointer; /* Shows it's interactive */
}

.place-card h5:hover {
  white-space: normal; /* Show full text on hover */
  word-wrap: break-word; /* Break long words */
  overflow: visible; /* Allow full visibility */
}

.place-photo {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-top: 5px;
}